button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
    font-size: 25px;
    margin: 0.25rem 0;
    border: none;
    cursor: pointer;
}

.NUMBER, .EQUALS {
    color: white
}

.OPERATOR, .CLEAR, .EQUALS {
    font-size: 35px;
}

.OPERATOR {
    color: rgb(0, 254, 0)
    
}

.CLEAR {
    color: red
}

.EQUALS {
    background-color: rgb(0, 254, 0);
    
}